* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --russian-violet: #3a015cff;
    --palatinate-purple: #4f0147ff;
    --dark-purple: #35012cff;
    --dark-purple-2: #290025ff;
    --xiketic: #11001cff;
    --old-lavender: #84677Aff;
    --fuzzy-wuzzy: #C1626Dff;
    --gainsboro: #E4DBDDff;
    --old-rose: #C67B75ff;
    --new-york-pink: #E2807Bff;
}

html {
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}

section {
    padding: 30px 0;
    min-height: 100vh;
}

/* ========================== Navbar =============================== */
#navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 5px rgb(0, 0, 0);
    background-color: var(--dark-purple);
    transition: all 0.3s ease;
}

#navbar #logo {
    margin-inline-start: 30px;
    max-height: 65px;
    width: auto;
    transition: 0.3s ease;
}

#logo:hover {
    filter: invert(1);
}

#navbar .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;

}

.navbar li {
    list-style: none;
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    padding: 20px 7vw;
}

.navbar li a:hover {
    background-color: var(--russian-violet);
}

/* ========================================================= */
/* ===========================Welcome Section============================== */
#welcome-section {
    background-color: var(--xiketic);
}

#welcome-section .welcome_image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#welcome-section .welcome_image img {
    max-width: 100%;
    width: 400px;
    height: 400px;
    clip-path: circle(50% at 50% 50%);
    animation: fading 3s linear infinite;
}
@keyframes fading {
    0% {
        opacity: 0;
        transform: translateX(5px);
    }
    50% {opacity: 1;
        transform: translateX(0);
    }
    100% {opacity: 0;
        transform: translateX(-5px);
    }
    
}

#welcome-section .titles {
    padding-bottom: 20px;
}

#welcome-section .welcome_title,
.welcome_prof {
    text-align: center;
}

#welcome-section .welcome_title {
    font-size: 70px;
    font-family: 'Righteous', cursive;
    color: var(--gainsboro);
    text-shadow: 0px 0px 15px #000000;
}

.welcome_title h1 {
    transition: word-spacing 0.3s ease;
}

.welcome_title:hover h1 {
    word-spacing: 10px;
}

#welcome-section .welcome_prof {
    font-size: 2rem;
    color: var(--fuzzy-wuzzy);
    text-shadow: 0px 0px 8px #000000;
}

/* ========================================================= */

#projects {
    min-height: 130vh;
    background-color: var(--new-york-pink);
    text-align: center;
    padding: 5rem 2rem;

}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 3rem;
}

.projects-section-header {
    font-family: 'Righteous', cursive;
    color: var(--gainsboro);
    font-size: 4em;
    max-width: 70vw;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--old-lavender);
    text-shadow: 0px 0px 5px #000000;
}

.project-tile {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background: #11001c;
    text-decoration: none;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.5s ease,
        transform 0.3s ease;
}

.project-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    filter: brightness(40%);
    transition: all 0.3s ease;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.project-title {
    font-size: 1.2rem;
    padding: 2rem 0.5rem;
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0px 0px 1px var(--fuzzy-wuzzy);
    transition: transform 0.3s ease;
}

.project-tile:hover {
    background: #210036;
    transform: translateY(-5px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-tile:hover .project-image {
    filter: none;
}

.project-tile:hover .project-title {
    transform: translateY(1px) scale(1.1);
}

/* ========================================================= */
/* ===========================Contact Us============================== */
#contact {
    background-color: var(--russian-violet);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

#contact h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 3em;
    color: whitesmoke;
    text-shadow: 0px 0px 5px black;
    border-bottom: 0.2rem solid var(--old-lavender);
}

#contact .contact-link {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    flex-flow: row wrap;
}


#contact .contact-link a {

    font-size: 30px;
    border-radius: 50%;
    background: linear-gradient(145deg, #12001e, #0f0019);
    box-shadow: 5px 5px 13px rgba(14, 0, 22, 0.5),
        -5px -5px 13px rgba(20, 0, 34, 0.5);
    transition: 0.5s ease;
    transition-property: all;
    padding: 1em;
    text-decoration: none;
    color: white;
}

#contact a:hover {
    color: var(--gainsboro);
    transform: translate(0px, -3px);
    background: linear-gradient(145deg, #12001ec9, #0f0019cc);
    box-shadow: 6px 6px 16px rgba(18, 0, 30, 0.63),
        -6px -6px 16px rgba(15, 0, 25, 0.651);
}


/* ========================================================= */

footer {
    min-height: 30px;
    color: whitesmoke;
    background-color: var(--xiketic);
}

footer p {
    text-align: center;
    padding-top: 5px;
}



@media only screen and (max-width: 710px) {
    #navbar {
        flex-direction: column;
    }

    #navbar #logo {
        margin: 0;
        max-height: 50px;
    }

    #navbar .navbar {
        width: 90vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar li {
        list-style: none;
    }

    .navbar li a {
        color: white;
        font-size: 20px;
        padding: 15px 6vw;
    }

    .project-image {
        filter: none;
    }

    #contact {
        background-color: var(--russian-violet);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        min-height: 90vh;
    }

    #contact h1 {
        font-size: 2.5em;
    }

    #contact .contact-link {
        gap: 38px;
    }

    #contact .contact-link a {
        font-size: 25px;
        padding: 0.8em;

    }

}

@media only screen and (max-width: 430px) {
    #navbar .navbar {
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .navbar li a {
        color: white;
        font-size: 15px;
        padding: 15px 5vw;
    }

    #welcome-section .welcome_title {
        font-size: 50px;
    }

    .projects-section-header {
        max-width: 90vw;
        font-size: 3em;
    }

    #contact {
        min-height: 60vh;
    }

    #contact h1 {
        font-size: 2.3em;
    }

    #contact .contact-link {
        gap: 25px;
    }

    #contact .contact-link a {
        font-size: 22px;
        padding: 0.8em;

    }
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(42, 16, 90);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    transition: all 1s ease;
}

#myBtn:hover {
    background-color: rgb(94, 52, 207);
}




/* Fade And Scroll */


.fade {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

[data-scroll] {
    transition: all 0.5s;
}

[data-scroll="in"] {
    transform: translateX(0);
}

[data-scroll="out"] {
    transform: translateX(-100vw);
}